
<div class="compose-area">
  <a href="javascript:void(0);" class="btn btn-default"><i class="fa fa-edit"></i> Nouveau Canal</a>
</div>

<div>
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 550px;">
    <div class="chat-list-wrapper" style="overflow-y: auto; width: auto; height: 550px;">
      <ul class="chat-list">
        <li class="new">
                                            <span class="avatar available">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Gavin Free</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>1 secs ago
              </small>
            </div>
            <p>
              Hey, have you finished up with the Ladybug project?
            </p>
          </div>
        </li>
        <li class="active">
                                            <span class="avatar available">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Yanique Robinson</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>3 secs ago
              </small>
            </div>
            <p>
              Cool. I'll see you guys then.
            </p>
          </div>
        </li>
        <li>
                                            <span class="avatar">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Ryan Haywood</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>12 mins ago
              </small>
            </div>
            <p>
              Kevin, tomorrow is GoT night at my house. Bring your HDMI extension. Thanks.
            </p>
          </div>
        </li>
        <li>
                                            <span class="avatar busy">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Geoff Ramsey</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>1 hour ago
              </small>
            </div>
            <p>
              Sales want to see you. Something about the new product.
            </p>
          </div>
        </li>
        <li>
                                            <span class="avatar">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Kara Mendly</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>5 hours ago
              </small>
            </div>
            <p>
              Meeting next week Tuesday. Nothing serious, just bring teams work progress with you.
            </p>
          </div>
        </li>
        <li>
                                            <span class="avatar busy">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="img-circle">
                                            </span>
          <div class="body">
            <div class="header">
              <span class="username">Jack Patillo</span>
              <small class="timestamp text-muted">
                <i class="fa fa-clock-o"></i>12 mins ago
              </small>
            </div>
            <p>
              hey, what does this error mean?
            </p>
          </div>
        </li>
      </ul>
    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 478.639px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
</div>
